/* Code for the layout*/
html{
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
  font-family: 'Rubik', sans-serif;
  flex-wrap: nowrap;
}

.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.7fr 1.3fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "websitefront websitefront websitefront"
    "imageslot formslot formslot"
    "finished finished finished";
}

.website-front { grid-area: 1 / 1 / 2 / 4; }

.unfinished {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "about about about"
    "unfinishedimg unfinform unfinform"
    "unfinishedimg unfinform unfinform";
  grid-area: 2 / 1 / 3 / 4;
  top: -10px;
}

.about { grid-area: about;
          background-color: white;
  color: black;
  padding: 2rem;
  border-radius: 1rem;
  z-index:1;
  margin: 100px;

       }

.unfinishedimg { grid-area: unfinishedimg; }

.unfinform { grid-area: unfinform; }

.finished { grid-area: 3 / 1 / 4 / 4; }

.finishedimg { grid-area: 3 / 1 / 4 / 2; }

.finform { grid-area: 3 / 2 / 4 / 4; }

/* Code for the front of the website */
img {
  top: 50px;
  left: 50px;
}

/* This code helps it be on top of all the other codes */
.fullLogo {
  z-index: -1;
  top: 800px;
  left: 150px;
}

.smallLogo {
  z-index: 3;
  margin: 90px;
  position: absolute;
}

.movieScreenshots {
  z-index: 4;
  left: 550px;
  top: 1px;
  position: relative;
}

.curtains{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.redCurtain{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/* Created a rectangle for an invisible page break*/
.rectangle {
  height: 100px;
  width: 100px;
  background-color: #000000;
}

.title p1{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    margin-top: 6em;
    margin-left: 13em;
    margin-right: 10em;

    /* Make sure text is infront of background images */
    display:block;
    position: relative;
    z-index: 3;
}

.h2 {
  margin-bottom: 1em;
  color: white;
}


/* Code for the form --> Code inspired from the A2 coding challenges */ 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

header {
  height: 70px;
  padding: 1em 0;
}

header > h1 {
  text-align: center;
  
}

h2 {
  margin-bottom: 1em;
  text-align: center;

  color: #000000;
}

h1{
  font-size: 40px;
  color: #cdb437;
  z-index: 3;
}

main {
  height: calc(100vh - 70px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "movieform tasklist";
  z-index: 3;
}

main section {
  grid-area: movieform;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

form {
  margin: 0 auto;
  padding: 3em;
  margin-right: 30px;


  outline-style:dashed;
  outline-width: 2px;
  border-radius: 20px;
  color: #ffffff;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
}

.form-row > label {
  width: 100px;
}

.form-row > input,
.form-row > select {
  padding: .5em;
  flex-grow: 1;
}

.form-row > select:hover {
  padding: .5em;
  flex-grow: 1;
  color: #ffffff;
  background-color: #a04646;
}


aside {
  grid-area: movielist;
  padding: 1em;
  overflow-y: scroll;
}


#movielist {
  margin: 0 auto;
  margin-right: 30px;

  display: flex;
  flex-direction: column;
  list-style: none;
  margin-block-start: 0;
  padding: 0;
}

#movielist li {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 1em;
  margin-bottom: 1em;
  
  outline-style:dashed;
  outline-width: 2px;
  border-radius: 20px;
}

#movielist li p {
  flex-grow: 1;
  margin-left: 10px;
  max-width: 200px;
}
#movielist li span {
  text-align: right;
  flex-grow: 1;
  margin-right: 10px;
  max-width: 200px;
}

#movielist li delButton {
  font-size: 20px;

}

/* Button hover effects --> allows user to know that the bin icon is clickable == therefore allowing them to delete the movie from the list */
#movielist li delButton:hover {
  font-size: 25px;

  
}

article {
  background-color: #efefef;
  height: 100vh;
  padding: 3em 0;
  overflow-y: scroll;
}
